@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

#nodes {
  // fill: white;
  // fill-opacity: 1;
  fill: rgba(255, 255, 255, 0.5);
}

#curves {
  fill: $dark;
  stroke-dasharray: 1000;
  stroke: white;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 12;
  animation: dash 3s normal forwards linear;
  stroke-dashoffset: 1000;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
