#cover {
  margin-top: 58px;
  padding-top: 2em;
  min-height: 90vh;
  overflow: auto; // prevent margin collapse
  background-color: $dark;
  color: white;
}

#cover-logo {
  display: block;
  width: 45%;
  min-height: 200px;
  float: left;
  padding-right: 10%;

  @media (max-width: $large) {
    width: 75%;
    height: auto;
    padding: 0;
    float: none;
    margin: 0 auto;
  }
}

#cover-info {
  width: 45%;
  float: left;
  font-size: 20px;
  padding-top: 1.5em;
  padding-bottom: 3em;
  color: white;

  @media (max-width: $large) {
    width: 100%;
  }

  a {
    color: white;
  }

  h1 {
    margin-bottom: 0.5em;
  }
}

#cover-container {
  max-width: 36em;
}

.info-line {
  margin: 0;
}

#registration-button {
  background-color: $accent-color;
  font-weight: bold;
  margin-top: 1.5em;
  // margin-right: 0.25em;

  &:hover {
    background-color: #D55EFF;
  }
}

#buttons {
  .button {
    width: 80%;
  }
}
