#cover {
  margin-top: 58px;
  padding-top: 2em;
  min-height: 80vh;
  overflow: auto; // prevent margin collapse
  background-color: $dark;
  color: white;
}

#cover-logo {
  display: block;
  width: 40%;
  min-height: 200px;
  float: left;
  padding-right: 10%;

  @media (max-width: $large) {
    width: 75%;
    height: auto;
    padding: 0;
    float: none;
    margin: 0 auto;
  }
}

#cover-info {
  width: 50%;
  float: left;
  font-size: 24px;
  padding-top: 3em;
  padding-bottom: 3em;

  @media (max-width: $large) {
    width: 100%;
  }
}

.info-line {
  margin: 0;
}

#registration-button {
  background-color: $accent-color;
  font-weight: bold;
  margin-top: 2em;
  margin-right: 0.25em;

  &:hover {
    background-color: #D55EFF;
  }
}
