
.social-media-icon {
  float: left;
  display: block;
}

#social-media {
  @include clearfix();
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;

  li {
    display: inline-block;
  }

  a {
    float: left;
  }
}

.fa-facebook-square {
  color: #3f51b5;
}

.fa-twitter-square {
  color: #2196F3;
}

.fa-instagram {
  color: $accent-color;
}

.fa-snapchat {
  color: #FFFC00;
}
