.sponsor-img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sponsor {
  text-align: center;
  width: 100%;
  float: left;
  height: 200px;
  position: relative;
}
