@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInLeft {
  animation-name: fadeInLeft; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

#curves {
  fill: #222;
  stroke-dasharray: 1000;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 12;
  animation: dash 4s normal forwards linear;
  stroke-dashoffset: 1000; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

#navbar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  z-index: 999; }
  #navbar::after {
    display: block;
    content: "";
    clear: both; }
  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 1.5em; }
  #navbar a {
    float: left;
    display: block;
    padding: 1.5em;
    color: black;
    text-decoration: none;
    text-transform: uppercase; }
    #navbar a:hover {
      background-color: #e6e6e6; }
    #navbar a:visited, #navbar a:active {
      color: black; }

#cover {
  margin-top: 58px;
  padding-top: 2em;
  min-height: 80vh;
  overflow: auto;
  background-color: #222222;
  color: white; }

#cover-logo {
  display: block;
  width: 40%;
  min-height: 200px;
  float: left;
  padding-right: 10%; }
  @media (max-width: 700px) {
    #cover-logo {
      width: 75%;
      height: auto;
      padding: 0;
      float: none;
      margin: 0 auto; } }

#cover-info {
  width: 50%;
  float: left;
  font-size: 24px;
  padding-top: 3em;
  padding-bottom: 3em; }
  @media (max-width: 700px) {
    #cover-info {
      width: 100%; } }

.info-line {
  margin: 0; }

#registration-button {
  background-color: #C31AFF;
  font-weight: bold;
  margin-top: 2em;
  margin-right: 0.25em; }
  #registration-button:hover {
    background-color: #D55EFF; }

.social-media-icon {
  float: left;
  display: block; }

#social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em; }
  #social-media::after {
    display: block;
    content: "";
    clear: both; }
  #social-media li {
    display: inline-block; }
  #social-media a {
    float: left; }

.fa-facebook-square {
  color: #3f51b5; }

.fa-twitter-square {
  color: #2196F3; }

.fa-instagram {
  color: #C31AFF; }

.fa-snapchat {
  color: #FFFC00; }

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0; }

h1 {
  font-size: 36px;
  margin-top: 0; }

p {
  line-height: 1.45; }

.container {
  max-width: 42em;
  margin: 0 auto;
  width: 90%; }

.button {
  display: inline-block;
  padding: 0.5em 1.2em;
  color: white;
  text-decoration: none;
  border-radius: 0.25em;
  border: 2px white solid;
  margin-right: 1em;
  margin-bottom: 0.5em;
  background-color: #222222; }
  .button:hover {
    transition-duration: 250ms;
    background-color: #4e4e4e; }
  .button:visited, .button:active {
    color: white; }

.page-section {
  padding-top: 1.6em; }

#copyright-footer {
  margin-top: 3em;
  background-color: #e6e6e6;
  text-align: center;
  padding: 2em; }
