@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0; }

#navbar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em; }
  #navbar::after {
    display: block;
    content: "";
    clear: both; }
  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 1.5em; }
  #navbar a {
    float: left;
    display: block;
    padding: 1.5em;
    color: black;
    text-decoration: none;
    text-transform: uppercase; }
    #navbar a:hover {
      background-color: #e6e6e6; }
    #navbar a:visited, #navbar a:active {
      color: black; }

#cover {
  margin-top: 58px;
  padding-top: 3em;
  height: 80vh;
  overflow: auto;
  min-height: 300px;
  background-color: #222222;
  color: white; }

#cover-logo {
  display: block;
  width: 40%;
  min-height: 200px;
  float: left;
  padding-right: 10%; }

#cover-info {
  width: 50%;
  float: left;
  font-size: 24px;
  padding-top: 2em; }

h1 {
  font-size: 36px; }

.info-line {
  margin: 0; }

#curves {
  fill: #222;
  stroke-dasharray: 1000;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 12;
  animation: dash 3s normal forwards linear;
  stroke-dashoffset: 1000; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.container {
  width: 42em;
  margin: 0 auto; }

.button {
  display: inline-block;
  padding: 0.5em 1.2em;
  color: white;
  text-decoration: none;
  border-radius: 0.25em;
  border: 2px white solid;
  margin-right: 1em;
  margin-bottom: 0.5em;
  background-color: #222222; }
  .button:hover {
    transition-duration: 250ms;
    background-color: #4e4e4e; }
  .button:visited, .button:active {
    color: white; }

#registration-button {
  background-color: #C31AFF;
  font-weight: bold;
  margin-top: 2em;
  margin-right: 6em; }
  #registration-button:hover {
    background-color: #D55EFF; }

h1 {
  margin-top: 0; }

p {
  line-height: 1.45; }

.page-section {
  padding-top: 2em; }

#copyright-footer {
  background-color: #e6e6e6;
  text-align: center;
  padding: 2em; }
